@{
    ViewData["Title"] = "Privacy Policy";
    var user = Context.Session.GetObject<UserViewModel>("currentUser") ?? new UserViewModel();
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

